<div class="container mt-4" *ngIf="quiz">
  <h3>{{ quiz.title }}</h3>
  <p><strong>Time left:</strong> {{ timer }}</p>

  <form [formGroup]="quizAttemptForm" (ngSubmit)="submitQuiz()">
    <div *ngFor="let question of quiz.questions" class="mb-4">
      <label><strong>{{ question.content }}</strong></label>
      <div class="list-group">

        <label class="list-group-item">
          <input class="form-check-input me-2" type="radio" [formControlName]="getControlName(question.id)"
            value="option1" />
          {{ question.option1 }}
        </label>

        <label class="list-group-item">
          <input class="form-check-input me-2" type="radio" [formControlName]="getControlName(question.id)"
            value="option2" />
          {{ question.option2 }}
        </label>

        <label class="list-group-item">
          <input class="form-check-input me-2" type="radio" [formControlName]="getControlName(question.id)"
            value="option3" />
          {{ question.option3 }}
        </label>

        <label class="list-group-item">
          <input class="form-check-input me-2" type="radio" [formControlName]="getControlName(question.id)"
            value="option4" />
          {{ question.option4 }}
        </label>

      </div>
    </div>

    <button class="btn btn-success" type="submit">Submit Quiz</button>
  </form>
</div>